# The ID of your GitHub App
APP_ID=94485
WEBHOOK_SECRET=  236e9d35c4e9ea5f51c57dc68f55c62f100cf9ff  #development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/N5qECdh1WdKx9aU6
